@model RPPP12.Models.Stanje
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Create_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/stanje">Stanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/zabrana">Zabrane</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/razinaOpasnosti">Razine opasnosti</a>
            </li>
        </ul>
    }
    @section container {
        <h4>Stanje</h4>
        <hr />
        <div class="row">
            <div class="input-group mb-3">
                <form asp-action="Edit" asp-route-id="@Model.SifraStanje">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SifraStanje" />
                    <div class="form-group">
                        <label asp-for="VrijemeZavrsetka" class="control-label"></label>
                        <input asp-for="VrijemeZavrsetka" class="form-control" />
                        <span asp-validation-for="VrijemeZavrsetka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraDogadaj" class="control-label"></label>
                        <select asp-for="SifraDogadaj" class="form-control" asp-items="ViewBag.SifraDogadaj"></select>
                        <span asp-validation-for="SifraDogadaj" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraZabrana" class="control-label"></label>
                        <select asp-for="SifraZabrana" class="form-control" asp-items="ViewBag.SifraZabrana"></select>
                        <span asp-validation-for="SifraZabrana" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Opis" class="control-label"></label>
                        <input asp-for="Opis" class="form-control" />
                        <span asp-validation-for="Opis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        }
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</html>
