@model RPPP12.Models.Dionica

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Dionica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SifraPocetka" class="control-label"></label>
                <select asp-for="SifraPocetka" class ="form-control" asp-items="ViewBag.SifraPocetka"></select>
            </div>
            <div class="form-group">
                <label asp-for="SifraKraja" class="control-label"></label>
                <select asp-for="SifraKraja" class ="form-control" asp-items="ViewBag.SifraKraja"></select>
            </div>
            <div class="form-group">
                <label asp-for="SifraAutoceste" class="control-label"></label>
                <select asp-for="SifraAutoceste" class ="form-control" asp-items="ViewBag.SifraAutoceste"></select>
            </div>
            <div class="form-group">
                <label asp-for="Duljina" class="control-label"></label>
                <input asp-for="Duljina" class="form-control" />
                <span asp-validation-for="Duljina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
