@model RPPP12.Models.Dionica
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Create_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/objekt">Objekti</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaObjekta">Vrste objekata</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/lokacijaPostaje">Lokacije postaja</a>
            </li>
        </ul>
    }
    @section container {
        <h4>Dionica</h4>
        <hr />
        <div class="row">
            <div class="input-group mb-3">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Naziv" class="control-label"></label>
                        <input asp-for="Naziv" class="form-control" />
                        <span asp-validation-for="Naziv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraPocetka" class="control-label"></label>
                        <select asp-for="SifraPocetka" class="form-control" asp-items="ViewBag.SifraPocetka"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraKraja" class="control-label"></label>
                        <select asp-for="SifraKraja" class="form-control" asp-items="ViewBag.SifraKraja"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraAutoceste" class="control-label"></label>
                        <select asp-for="SifraAutoceste" class="form-control" asp-items="ViewBag.SifraAutoceste"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duljina" class="control-label"></label>
                        <input asp-for="Duljina" class="form-control" />
                        <span asp-validation-for="Duljina" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
