
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Autoceste</title>
    <style>
        .jumbotron {
            margin-bottom:0;
            border-radius:0;
        }
        .card-img-top {
            width: 100%;
            height: 17vw;
            object-fit: cover;
        }
        .display-4 {
            margin-bottom: 7%;
            text-align: center;
        }
        .col-sm-4 {
            margin-bottom: 2%;
        }
        .card {
            border:0;
        }
    </style>
</head>
<body>

    @{
        Html.RenderPartial("_Navbar");
    }

    <div class="jumbotron">
        <h1 class="display-4">Dobrodošli na Hrvatske autoceste!</h1>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/dionica.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dionice</h5>
                        <p class="card-text">Detalji vezani uz dionice</p>
                        <a href="dionica" class="btn btn-primary">Pregled</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/naplatnapostaja.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Naplatne postaje</h5>
                        <p class="card-text">Detalji vezani uz naplatne postaje</p>
                        <a href="/naplatnapostaja" class="btn btn-primary">Pregled</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/naplatnakucica.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Naplatne kućice</h5>
                        <p class="card-text">Detalji vezane uz naplatne kućice</p>
                        <a href="/naplatnakucica" class="btn btn-primary">Pregled</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4" style="margin-bottom:2%;">
                <div class="card">
                    <img class="card-img-top" src="~/images/uredaj.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Uređaji</h5>
                        <p class="card-text">Detalji vezani uz uređaje</p>
                        <a href="/uredaj" class="btn btn-primary">Pregled</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/dogadaj.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Događaji</h5>
                        <p class="card-text">Detalji vezani uz događaje</p>
                        <a href="/dogadaj" class="btn btn-primary">Pregled</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/upravitelj.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Upravitelji</h5>
                        <p class="card-text">Detalji vezani uz upravitelje</p>
                        <a href="/upravitelj" class="btn btn-primary">Pregled</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
