@model RPPP12.Models.SustavNaplate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>SustavNaplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NacinPlacanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SifraNacinaPlacanja">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
