@model RPPP12.Models.Zaposlenik
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Create_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="~/zaposlenik">Zaposlenici</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/vrstaZaposlenika">Vrste zaposlenika</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="~/lokacijaPostaje">Lokacije postaja</a>
            </li>

        </ul>
    }
    @section container {
        <h4>Zaposlenik</h4>
        <hr />
        <div class="row">
            <div class="input-group mb-3">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Ime" class="control-label"></label>
                        <input asp-for="Ime" class="form-control" />
                        <span asp-validation-for="Ime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prezime" class="control-label"></label>
                        <input asp-for="Prezime" class="form-control" />
                        <span asp-validation-for="Prezime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefon" class="control-label"></label>
                        <input asp-for="Telefon" class="form-control" />
                        <span asp-validation-for="Telefon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraPostaje" class="control-label"></label>
                        <select asp-for="SifraPostaje" class="form-control" asp-items="ViewBag.SifraPostaje"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraVrsteZaposlenika" class="control-label"></label>
                        <select asp-for="SifraVrsteZaposlenika" class="form-control" asp-items="ViewBag.SifraVrsteZaposlenika"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>


    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
