@model RPPP12.Models.Objekt
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Create_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/objekt">Objekti</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaObjekta">Vrste objekata</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/lokacijaPostaje">Lokacije postaja</a>
            </li>
        </ul>
    }
    @section container {
        <h4>Objekt</h4>
        <hr />
        <div class="row">
            <div class="input-group mb-3">
                <form asp-action="Edit" asp-route-id="@Model.SifraObjekta">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SifraObjekta" />
                    <div class="form-group">
                        <label asp-for="SifraDionice" class="control-label"></label>
                        <select asp-for="SifraDionice" class="form-control" asp-items="ViewBag.SifraDionice"></select>
                        <span asp-validation-for="SifraDionice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraVrstaObjekta" class="control-label"></label>
                        <select asp-for="SifraVrstaObjekta" class="form-control" asp-items="ViewBag.SifraVrstaObjekta"></select>
                        <span asp-validation-for="SifraVrstaObjekta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        }
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</html>
