@model RPPP12.Models.VrstaNaplatneKucice
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <div>
            <h4>VrstaNaplatneKucice</h4>
            <hr />
            <dl class="dl-horizontal"></dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.VrstaNaplatneKucice1">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    </body>
</html>
