@model RPPP12.Models.NaplatnaPostaja
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Create_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/zaposlenik">Zaposlenici</a>
            </li>

        </ul>
    }
    @section container {
        <h4>NaplatnaPostaja</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" asp-route-id="@Model.SifraPostaje">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SifraPostaje" />
                    <div class="form-group">
                        <label asp-for="SifraDionice" class="control-label"></label>
                        <select asp-for="SifraDionice" class="form-control" asp-items="ViewBag.SifraDionice"></select>
                        <span asp-validation-for="SifraDionice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraLokacijePostaje" class="control-label"></label>
                        <select asp-for="SifraLokacijePostaje" class="form-control" asp-items="ViewBag.SifraLokacijePostaje"></select>
                        <span asp-validation-for="SifraLokacijePostaje" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImePostaje" class="control-label"></label>
                        <input asp-for="ImePostaje" class="form-control" />
                        <span asp-validation-for="ImePostaje" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</html>
