@model RPPP12.Models.Racun
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/Create_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
    @section side_nav{
        <ul class="list-group">
            <li class="list-group-item">
                <a class="nav-link" href="/racun">Računi</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/nacinPlacanja">Načini plaćanja</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/vrstaNaplatneKucice">Vrste naplatnih kućica</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/cjenik">Cjenik</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="/kategorijaVozila">Kategorije vozila</a>
            </li>

        </ul>
    }
    @section container {
        <h4>Racun</h4>
        <hr />
        <div class="row">
            <div class="input-group mb-3">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SifraKucica" class="control-label"></label>
                        <select asp-for="SifraKucica" class="form-control" asp-items="ViewBag.SifraKucica"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistarskaOznaka" class="control-label"></label>
                        <input asp-for="RegistarskaOznaka" class="form-control" />
                        <span asp-validation-for="RegistarskaOznaka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DatumVrijeme" class="control-label"></label>
                        <input asp-for="DatumVrijeme" class="form-control" />
                        <span asp-validation-for="DatumVrijeme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraKategorijaVozila" class="control-label"></label>
                        <select asp-for="SifraKategorijaVozila" class="form-control" asp-items="ViewBag.SifraKategorijaVozila"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifraNacinPlacanja" class="control-label"></label>
                        <select asp-for="SifraNacinPlacanja" class="form-control" asp-items="ViewBag.SifraNacinPlacanja"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
